body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
    overflow: hidden; /* Disable scrollbar */
    /*background-image: url("https://i.pinimg.com/originals/05/c3/f8/05c3f8c48339ae9748ee6b8dd40de5bb.jpg");*/
    background-image :url("https://cdn.wallpapersafari.com/41/99/Gbzmku.jpg");
    background-size: cover;
}

#pets {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.card {
    width: 100%;
    max-width: 400px;
    height: 100%; /* Full height of the viewport */
    border: 2px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Prevent overflow */
}

img {
    width: 100%;
    border-radius: 25px;
    
}

h2 {
    color: #d56f3e;
    text-align: center;
    margin-top: 0; /* Remove default margin */
}

form {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    opacity : 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto; /* Allow form to scroll if necessary */
}

form div {
    margin-bottom: 5px;
}

form label {
    display: block;
    margin-bottom: 3px;
    color: white;
}

form input, form select, form textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

form button {
    width: 100%; /* Full width for the button */
    padding: 8px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
p{
	color: white;
}
#file{
	color: white;
}
.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}


@media (max-width: 375px) {
    #pets {
        flex-wrap: wrap;
        padding: 8px;
    }

    .card {
        width: 100%;
        height: auto; /* Adjust height for smaller screens */
    }
}
